/* Here is where all the code to style the web pages will be placed */
* {
    color:purple;
}

h1{
    background-color: lightyellow;
    color:black;
    text-align:center;
    font-weight:800;
    border: 5px solid rebeccapurple;
    padding: 20px;
}

body{
    font-family: "Times New Roman", serif;
    color:black;
    font-size: 20px;
    text-align:left;
}

.description{
    background-color: bisque;
}

#recipt-list{
    background-color:bisque;
    padding: 15px;
    margin:10px;
}

img{
    height:auto;
    width: 300px;
    margin:10px;
}